:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --varyDarkBlue: hsl(234, 12%, 34%);
    --grayishBlue: hsl(229, 6%, 66%);
    --veryLightGray: hsl(0, 0%, 98%);
    --weight1: 200;
    --weight2: 400;
    --weight3: 600;
}

nav {
  position: sticky;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1.5rem 2rem;
  background-color: #eaeaea;
  transition: top 500ms ease-in-out;
}

nav.scroll-up,
nav:focus-within {
  top: 0;
}

nav.scroll-down {
  top: -100%;
}

.links {
  display: flex;
  margin: 0 -1em;
}

.links a {
  display: inline-block;
  margin: 0 1em;
}
.links a:hover
{
   background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/squiggle.svg");
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: 20%;
  border-bottom: 0;
  padding-bottom: .3em;
  text-decoration: none
}

.logo {
  font-weight: bold;
  /* text-transform: uppercase; */
  letter-spacing: 0.2em;
  font-style:30px;
}

nav a {
  color: #0f0f0f;
  text-decoration: none;
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

section {
  width: 65%;
  margin: 0 auto;
}

section h1 {
  font-size: 2rem;
}

section p {
  font-size: 1.25rem;
  line-height: 140%;
}

footer {
  padding: 1em;
  text-align: center;
  background-color: #FFDFB9;
}

footer a {
  color: inherit;
  text-decoration: none;
}

footer .heart {
  color: #DC143C;
}
@media screen and (max-width: 600px) {
  .topnav a {display: none;}
  .topnav a.icon {
    float: right;
    display: flex;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
    display: none;
    
  }
  nav {justify-content: center;}

}
.topnav .icon {
  display: none;
}

.main{
  width: 94%;
  height :7000px;
  margin-top: 3%;
  background-color: var(--veryLightGray);
  margin-left:3%;
  margin-right: 3%;
  border-radius: 4px;
  padding: 5px;

}
html
{
  background-color:rgb(44, 29, 29);
  font-family: Blanco,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  font-weight: 400;
    line-height: 1.7;
}
::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px yellow; 
}
.header h1:first-of-type {
    font-size: 40px;
    font-weight: var(--weight1);
    color: var(--varyDarkBlue);

}

.header h1:last-of-type {
    margin-top: -3%;
    color: var(--varyDarkBlue);
}

@media (max-width: 400px) {
    h1 {
        font-size: 1.5rem;
    }
}

.header {
    text-align: center;
    line-height: 0.8;
    margin-bottom: 50px;
    margin-top: 50px;
}

.header p {
    margin: 0 auto;
    line-height: 2;
    color: var(--grayishBlue);
}
 .py
 {
   margin: 3%;
   padding-left: 2%;
   border:1.6px #EEEBDD;
   border-style:ridge;
   height:auto;
 }
 .py h1
 {
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 30px;
   color: #CE1212;
 }
 .py .content p,li
 {
      font-size: 20px;
      margin: 0 0 1.5rem;
 }
 .py .content p:hover,li:hover 
 {
   text-decoration: underline;
 }
 code
 {
   font-weight:bolder;
 }
 .py .content
 {
   margin-left: 2%;
 }

 pre
 {
   margin-right: 24%;
   margin-left: 20%;
   font-size: 20px;
   

 }
hr
{
  background: #ff7a18;
    border: 0;
    display: block;
    width: 100%;
    margin-right: 5%;
    margin-left: -2%;
    height: 4px;
    border-radius: 4px;
    
}
table {
  border-collapse: collapse;
  overflow-x: auto;
  margin-left: auto;
  margin-right: auto;
}

td, th {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: left;
}
tr td:last-of-type
{
    color: red;
}

tr td:last-of-type:hover
{
  border-bottom: 3px black;
  border-bottom-style:ridge;
  color:darkblue;
  font-weight: bolder;
}
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-gap: 20px;
}

.card {
    display: grid;
    grid-template-rows: max-content 200px 1fr;
}

.card img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.card-content
{
  text-decoration: none !important;
}
.card-content:hover
{
  color:blueviolet;
}
img
{
  height: 70%;
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;

}
.codeletters
{
  border: 0.1px gray groove;
  background-color:lightcyan;
}
